# changes file
*.changes

# system image
*.image

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Monticello package cache
/package-cache

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip

candv-final-plaza-firebase-adminsdk-fbsvc-f9042b2dde.json

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
build/
dist/
pip-wheel-metadata/
.env
.venv/
venv/
ENV/
.python-version

# Tests
.pytest_cache/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

node_modules/
